.content {
  background: #232534;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 120px;
  max-width: 350px;
}
.cont {
  text-align: left;
}
